@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap');
* {
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
   }

html{
	scroll-behavior: smooth;
}
body {
  font-weight: 300;
  display: flex;
  flex-direction: column;
  height: 100vh; 
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
  overflow-x: hidden;
}
/***********************HEADER********************
**************************************************/
/******** Header Image*********/
.header_image_wrap img{
	margin: auto;
	height: 200px;
	width: 100vw;
	object-fit:cover;
}
/******** Ends Header Image******/

/******** Social media links******/
.social-links li a{
	font-size: 16px;
	text-decoration: none;
}
.social-links li a i:hover{
	color: #000000;
	transition: 0.3s;
}
/********Ends Socoial media links******/

/********Title******/
.title{
	  letter-spacing: 2px;
	  text-decoration: none;
}
.title a{
	text-decoration: none;
	color: #000000;
}
.title a h2{
	font-size: 2rem;
}
.title a:hover{
	color: #565656;
	transition: 0.3s;
}
.title_sub{
	font-family: 'Bonheur Royale', cursive;
	font-size: 85px;
	letter-spacing: 2px;
}
/********Ends Title******/

/********Search icon******/
.search-icon{
	font-size: 16px;
}
.search-icon li i:hover{
	color: green;	
	transition: 0.3s;
}
.togglesearch{
  background: gray;
  position: relative;
  top: 0px;
  right: 20%;
  width: 80px;
  height: 30px;
  line-height: 25px;
  box-shadow: 4px 7px 64px -20px rgba(0,0,0,0.75);
  display: none;
}
 
.togglesearch input[type="text"]{
  width: 200px;
  outline: none;
  border-radius: 3px;
}
.search-icon li i:hover{
	color: #000000!important;
	cursor: pointer;
	transition: 0.3s;
}
/********Ends Search icon******/

/********Header Responsive******/
@media only screen and (min-width:240px) and (max-width: 768px){
    .navbar ul li{
        float:none;
        display:block;
        text-align:center;
        margin:0 auto;
    }
}

@media screen and (max-width: 480px) {
  .header_title_wrap {
    flex-direction: column;
    align-items: center;
    padding: 0px !important;
  }
      .search-btn{
    	margin-bottom: 50px;
    }
}
/********Ends Header Responsive******/
/***********************ENDS HEADER********************
**************************************************/


/***********************NAV BAR********************
**************************************************/
.navbar{
	height: auto;
	box-shadow: 0px 2px 10px #E0E0E0, 0px -2px 10px #E0E0E0;
	padding: 15px;
}
.navbar-nav .nav-item{
	letter-spacing: 1px;
}
.navbar-collapse.collapse.show{
	margin-top: 3px;
	position: relative;
}
/***********************ENDS NAV BAR********************
**************************************************/

/**********************SECTION********************
**************************************************/

.food-blog-img{
	width: 100%; height: 300px; 
	object-fit: cover;	
}

.food-blog-sub-title{	
	color: #17a2b8;
	border-bottom: 1px solid #17a2b8;
}
.food-blog-sub-btn:hover{
	transition: 0.3s;
}

.diy-section-wrap{
	font-family: 'Raleway', sans-serif;
}

/***********************ENDS SECTION********************
**************************************************/

/***********************NEWSLETTER********************
**************************************************/

.newsletter-card{
	height: auto;
	width: 62vw;
	background-color: #C6E2FF;
	outline: #C6E2FF solid 10px;
	border: 1px solid white;
	font-family: 'Raleway', sans-serif;
}
.newsletter-text{
	font-size: 1.4rem;
}

.newsletter-input{
     border-width: 1px;
     border: solid #0b1014 1px;
     background-color: #C6E2FF;
     color: #000000;
     border-style: solid;
     border-radius: 0px;
     width: 60%;
     padding: 3px 0px 4px 4px;        
}
.newsletter-btn {
  border-radius: 0px;
  color: #121112;
  font-size: 14px;
  background: #C6E2FF;
  padding: 5px 5px 5px 5px;
  border: solid #0b1014 1px;
  text-decoration: none;
  width: 30%;
  position: relative;
  right: 8px;
}

.newsletter-btn:hover {
  background: #D3F4FB;
  text-decoration: none;
  transition: 0.3s;
}
/***********************ENDS NEWSLETTER********************
**************************************************/
/***********************SLIDER********************
**************************************************/
.slider-container{
	max-width: 90vw;
}
.slider-container .single-item img{
	max-height: 30rem;
	max-width: 30rem;
}

.slick-prev:before, .slick-next:before{
    color: #686868!important;
}
.slider-images-wrap img{

}
.slider-text{
  position: absolute;
  top: 25%;
  left: 16px;
  background:white;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-right: 20%;
  padding-left: 20%;
  font-size: 20px;
  text-decoration: none;
  color: #17a2b8;
}
/***********************END SLIDER********************
**************************************************/

/***********************GALLERY********************
**************************************************/
.gallery-img {
	  padding-right: 0;
	  padding-left: 0;
}
.gallery-img a img{
	 object-fit: cover;
	 width:350px;
	 height:280px;
	 overflow: hidden;
}
.gallery-img a img:hover{
 	opacity: 0.7;
 	transition: 0.3s;
}

/***********************ENDS GALLERY********************
**************************************************/
/***********************FOOTER********************
**************************************************/

.main-footer{
	max-width: 100%;
}
#main-footer-links a{
	font-size: 13px;
}
#top-footer-links li a{
	font-size: 15px;

}
#bottom-footer-copyright p{
	font-size: 12.7px;
	letter-spacing: 1.2px;
	color: #525252;
}

/***********************ENDS FOOTER********************
**************************************************/
/***********************PRELOADER********************
**************************************************/
#preloader {
  overflow: hidden;
  background-image: linear-gradient(135deg, #A0D9E1 100%, #17a2b8 100%);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  z-index: 9999;
  color: #fff;
}

#preloader .jumper {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: block;
  position: absolute;
  margin: auto;
  width: 50px;
  height: 50px;
}

#preloader .jumper > div {
  background-color: #fff;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  position: absolute;
  opacity: 0;
  width: 50px;
  height: 50px;
  -webkit-animation: jumper 1s 0s linear infinite;
  animation: jumper 1s 0s linear infinite;
}

#preloader .jumper > div:nth-child(2) {
  -webkit-animation-delay: 0.33333s;
  animation-delay: 0.33333s;
}

#preloader .jumper > div:nth-child(3) {
  -webkit-animation-delay: 0.66666s;
  animation-delay: 0.66666s;
}

@-webkit-keyframes jumper {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  5% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes jumper {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  5% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/***********************ENDS PRELOADER********************
**************************************************/
